/* CSS */
body {
    overflow-y: auto;
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    overflow-x: auto;
}

.navbar{
    background-color: #E5DDC5;
}

.footer{
    background-color: #E5DDC5;
}

#summernote{
    background-color: white;
}

